.container {
  display: block;
  width: 73%;
  margin: 0 auto;
  padding: 0;
}
@media (max-width: 560px) {
  .container {
    width: 95%;
    margin: 0 2.5% 0 2.5%;
    padding: 0;
  }
}

.black {
  color: black
}

